<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Design Bureau 'Precision Mechanics'</title>
    <link href="static/Site.css" rel="stylesheet" type="text/css"/>
    <style>
        .navbar-right {
            float: right !important;
            margin-right: 15px;
            margin-left: 15px;
        }
    </style>
</head>
<body>

<div class="navbar navbar-incerse" role="navigation">
    <a class="navbar-brand" href="/">
        <span class="hidden-xs">Design Bureau 'Precision Mechanics'</span>
        <div class="visible=xs">DBPM</div>
    </a>
</div>

<div class="jumbotron">
    <div class="container">
        <h1>Welcome!</h1>
        <p>If you want to view list of engineers</p>
        <button class="pure-button"><a href="/engineers">Engineers</a></button>
    </div>
</div>

</body>
</html>